{% extends 'index_cliente.html' %} 
 
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/produtcos.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/articulo.css') }}">
{% endblock %}

{% block  body %}
  <form  method="post">
      
      {{ form.csrf_token }}
        
        <div>
          {{ form.email.label }}
          {{ form.email() }}
          {% if form.email.errors %}
          {% for error in form.email.errors %}
          <p>{{ error }}</p>
          {% endfor %}
          {% endif %}
        </div>
        
        <div>
          {{ form.telefono.label }}
          {{ form.telefono() }}
          {% if form.telefono.errors %}
          {% for error in form.telefono.errors %}
          <p>{{ error }}</p>
          {% endfor %}
          {% endif %}
                
        </div>
        <div>
          {{ form.queja.label }}
          {{ form.queja() }}
          {% if form.queja.errors %}
          {% for error in form.queja.errors %}
          <p>{{ error }}</p>
          {% endfor %}
          {% endif %}
          
        </div>
        <div>
          {{ form.submit(class="btn") }}
        </div>
        
  </form>   

{% endblock %}

