{% extends 'index.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/produtcos.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/articulo.css') }}">

{% endblock %}

{% block body %}

<div class="tarjeta">
    <div class="item">{{ accesorio.categoria }} </div>
    <div class="item">{{ accesorio.tipo }}</div>
    <div class="item">{{ accesorio.color }}</div>
    <div class="item">{{ accesorio.stock }}</div>
    <div class="item">{{ accesorio.especificacionExtra }}</div>
    <div class="item">{{ accesorio.precio }}</div>
    <img src="{{ url_for('static', filename='images/Accesorios/' + accesorio.image) }}" alt="" width="300px">
 

</div>
{% endblock %}