{% extends 'index.html' %} 
 
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/produtcos.css') }}">
{% endblock %}

{% block body %}
<div id="titulo"><h1 id="titulo_art">ACCESORIOS</h1></div>
           

     <section class="seccion">
         {% for acc in accs %}
        <div class="card"> 
            <a href="{{ url_for('articulos.accesorio', id=acc.id) }}" >
            <img src="{{ url_for('static', filename='images/Accesorios/' + acc.image) }}" alt="" width="300px" class="img_articulo">
             <div class="item" > {{ acc.precio }} </div>
             <div class="item" >{{ acc.id }}</div>
             <div class="item">{{ acc.categoria }}</div>
             <div class="item">{{ acc.color }}</div>
             <div class="item">{{ acc.tipo }}</div>
             <div class="item">{{ acc.stock }}</div>
             <div class="item"> {{ acc.especificacionExtra }}</div>
            </a>
            </div>
            
            {% endfor %}
     </section>
     <div class="paginador">
            {% for i in range(pages) %}
        <a href="{{ url_for('articulos.accesorios', page=(i + 1)) }}" class="paginas" >{{ i + 1 }}</a>
            {% endfor %}
            </div>
        {% endblock %}