{% extends 'index_cliente.html' %} 
 
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/produtcos.css') }}">
{% endblock %}

{% block body %}
<div id="titulo"><h1 id="titulo_art">AUDIO</h1></div>
           

     <section class="seccion">
         {% for aud in auds %}
        
        <div class="card"> 
            <a href="{{ url_for('articulos.audio_cli', id=aud.id) }}">
            <img src="{{ url_for('static', filename='images/Audio_img/' + aud.image) }}" alt="" width="300px" class="img_articulo">
             <div class="articulo" > {{ aud.marca }} </div>
             <div class="articulo" >{{ aud.modelo }}</div>
             <div class="articulo">{{ aud.tipo }}</div>
             <div class="articulo">{{ aud.conexion }}</div>
             <div class="articulo">{{ aud.stock }}</div>
             <div class="articulo">{{ aud.precio }}</div>
            </a>
            </div>
            {% endfor %}
        </section>
        {% for i in range(pages) %}
        <a href="{{ url_for('articulos.audios_cli', page=(i + 1)) }}" class="paginas" >{{ i + 1 }}</a>
            {% endfor %}
        {% endblock %}