{% extends 'index_cliente.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/articulos.css') }}">
{% endblock %}

{% block body %}

<div class="articulo_card">
    <img src="{{ url_for('static', filename='images/Audio/' + audio.image) }}" alt="" width="300px">
    <div class="articulo">{{ audio.marca }} </div>
    <div class="articulo">{{ audio.modelo }}</div>
    <div class="articulo">{{ audio.conexion }}</div>
    <div class="articulo">{{ audio.tipo }}</div>
    <div class="articulo">{{ audio.stock }}</div>
    <div class="articulo">{{ audio.precio}}</div>
   
    <a href="{{ url_for('articulos.update_audio', id=audio.id) }}">
        <i class="fa fa-pencil">EDITAR</i>
    </a>
    <form action="{{ url_for('articulos.delete_aud', id=audio.id) }}" method="post">
        <button type="submit" onclick="return confirm('Seguro?')">
            <i class="fa fa-trash">DELETE</i>
        </button>
    </form>
    <p>hola</p>
    

</div>
{% endblock %}