{% extends 'index.html' %}

{% block title %}
Productos
{% endblock %}

{% block body %}
<h1>Crea </h1>
<form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div>
        {{ form.categoria.label }}
        {{ form.categoria() }}
    </div>
    <div>
        {{ form.tipo.label }}
        {{ form.tipo() }}
    </div>
    <div>
        {{ form.stock.label }}
        {{ form.stock() }}
    </div>
    <div>
        {{ form.color.label }}    
        {{ form.color() }}
    </div>
    <div>
        {{ form.especificacionExtra.label }}
        {{ form.especificacionExtra() }}
    </div>
    <div>
        {{ form.precio.label }}
        {{ form.precio() }}
    </div>
    {% if image %}
    <div>
        <img src="{{ url_for('static', filename='images/products/' + image) }}" alt="" width="200px">
    </div>
    {% endif %}
    <div>
        {{ form.image.label }}
        {{ form.image() }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}