{% extends 'index_admin.html' %}

{% block title %}
Productos
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/produtcos.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/articulo.css') }}">
{% endblock %}
{% block body %}
<div id="titulo"><h1 id="titulo_art">INSERTAR AUDIO</h1></div>
<form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div>
        {{ form.marca.label }}
        {{ form.marca() }}
    </div>
    <div>
        {{ form.modelo.label }}
        {{ form.modelo() }}
    </div>
    <div>
        {{ form.conexion.label }}
        {{ form.conexion() }}
    </div>
    <div>
        {{ form.tipo.label }}    
        {{ form.tipo() }}
    </div>
    <div>
        {{ form.stock.label }}
        {{ form.stock() }}
    </div>
    <div>
        {{ form.precio.label }}
        {{ form.precio() }}
    </div>
    {% if image %}
    <div>
        <img src="{{ url_for('static', filename='images/Audio_img/' + image) }}" alt="" width="200px">
    </div>
    {% endif %}
    <div>
        {{ form.image.label }}
        {{ form.image() }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}