{% extends 'index_admin.html' %}

{% block title %}
    Agregar Reparación
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/produtcos.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/articulo.css') }}">
{% endblock %}

{% block body %}
<div class="all">
    <div id="titulo"><h1 id="titulo_art">AGREGAR REPARACION</h1></div>  
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.nombre.label }}
            {{ form.nombre(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.caracteristicas.label }}
            {{ form.caracteristicas(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.costo.label }}
            {{ form.costo(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.cliente.label }}
            {{ form.cliente(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.folio.label }}
            {{ form.folio(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.estatus.label }}
            {{ form.estatus(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.fecha_entrada.label }}
            {{ form.fecha_entrada(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.fecha_entrega.label }}
            {{ form.fecha_entrega(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.comentarios.label }}
            {{ form.comentarios(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.repimage.label }}
            {{ form.repimage(class="form-control-file") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}