{% extends 'index_admin.html' %}

{% block title %}
Categories
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/produtcos.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/articulo.css') }}">

{% endblock %}
{% block body %}
<div id="titulo"><h1 id="titulo_art">LISTA DE CITASS</h1></div>  
    <table id="categories">
        <thead>
            <tr>
                <th>ID_cita</th>
                <th>email_cliente</th>
                <th>dispositivo</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for cita in citas %}
                <tr>
                    <td>{{ cita.id }}</td>
                    <td>{{ cita.email_cliente }}</td>
                    <td>{{ cita.dispositivo }}</td>
                    <td>{{ cita.fecha }}</td>
                    <td>
                        <button class="btn_editar"><a href="{{ url_for('Reparacion.editar_cita', id=cita.id) }}">Editar </a></button>
                        <button class="btn_delete"><a href="{{ url_for('Reparacion.eliminar_cita', id=cita.id) }}">Eliminar</a></button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
    