{% extends 'index_cliente.html' %} 
 


{% block  body %}
  <form  method="post">
      
      {{ form.csrf_token }}
        
      <div>
        {{ form.email_cliente.label }}
        {{ form.email_cliente() }}
        {% if form.email_cliente.errors %}
        {% for error in form.email_cliente.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        {% endif %}
      </div>
        
        <div>
          {{ form.dispositivo.label }}
          {{ form.dispositivo() }}
          {% if form.dispositivo.errors %}
          {% for error in form.dispositivo.errors %}
          <p>{{ error }}</p>
          {% endfor %}
          {% endif %}
        </div>
        
        <div>
          {{ form.fecha.label }}
          {{ form.fecha() }}
          {% if form.fecha.errors %}
          {% for error in form.fecha.errors %}
          <p>{{ error }}</p>
          {% endfor %}
          {% endif %}
                
        </div>
       
        <div>
          {{ form.submit(class="btn") }}
        </div>
        
  </form>   

{% endblock %}

