{% extends 'index_cliente.html' %} 
 
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/produtcos.css') }}">
{% endblock %}

{% block  body %}
<div id="titulo"><h1 id="titulo_art">CELULARES</h1></div>    

<section class="seccion">
    {% for cel in cels %}
    <a href="{{ url_for('celulares.celular_cli',  id=cel.id) }}">
    <div class="card"> 
    <img src="{{ url_for('static', filename='images/Celulares/' + cel.image) }}" alt="" width="300px" class="img_articulo">

    <div class="item">{{ cel.marca }} </div>
    <div class="item">{{ cel.modelo }}</div>
    <div class="item"> {{ cel.color }} </div>
    <div class="item"> {{ cel.stock }} </div>
    <div class="item">{{ cel.almacenamiento }} </div>
    <div class="item"> {{ cel.idProveedor }} </div>
    <div class="item"> {{ cel.precio }} </div>
    </div>
    </a>
    {% endfor %}
   
</section>
<div class="paginador">
{% for i in range(pages) %}
<a href="{{ url_for('celulares.celulares_cli', page=(i + 1)) }}" class="paginas" >{{ i + 1 }}</a>
</div>
{% endfor %}



{% endblock %}

