{% extends 'index_cliente.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/articulos.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/articulo.css') }}">
{% endblock %}

{% block body %}

<div class="tarjeta">
    <div class="articulo">{{ celular.marca }} </div>
    <div class="articulo">{{ celular.modelo }}</div>
    <div class="articulo">{{ celular.color }}</div>
    <div class="articulo">{{ celular.stock }}</div>
    <div class="articulo">{{ celular.almacenamiento }}</div>
    <div class="articulo">{{ celular.precio }}</div>
    <img src="{{ url_for('static', filename='images/Celulares/' + celular.image) }}" alt="" width="300px">
    <p>hola</p>
    

</div>
{% endblock %}