<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaskapp</title>
 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block head %}
    
     {% endblock %}
  </head>
<body>
    <nav>
       
        <ul class="navegador">
           <a href="{{ url_for('home.home_cliente') }}"><img src="{{ url_for('static', filename='images/logo_softcel.png') }}" alt="imagen_nav" id="imagen_nav"></a>
            <li><a href="{{ url_for('soporte.soporte') }}">Soporte</a></li>
            <li><a href="{{ url_for('Reparacion.reparacion', page=1) }}">Reparaciones</a></li>
            <li><a href="{{ url_for('articulos.articulos_cli', page=1) }}">Articulos</a></li>
            <li><a href="{{ url_for('celulares.celulares_cli', page=1) }}">Celulares</a></li>
            
            <li><a href="{{ url_for('logout') }}">Cerrar sesion</a></li>
        </ul>
    </nav>
    <section class="contenido">
      
      {% block body %}
      
      {% endblock %}
      
    </section>

    <footer>
      <h2>footer</h2>
          </footer>
</body>
</html>