<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaskapp</title>
 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block head %}
    
     {% endblock %}
  </head>
<body>
    <nav>
       
        <ul class="navegador">
           <a href="{{ url_for('home.home_admin') }}"><img src="{{ url_for('static', filename='images/arbol.jpg') }}" alt="imagen_nav" id="imagen_nav"></a>
            <li><a href="{{ url_for('articulos.accesorios_list', page=1) }}">Accesorios</a></li>
            <li><a href="{{ url_for('articulos.audios_list', page=1) }}">Audios</a></li>
            <li><a href="{{ url_for('celulares.celulares_list', page=1) }}">Celulares</a></li>
            <li><a href="{{ url_for('Reparacion.citas_list') }}">CITAS</a></li>
            <li><a href="{{ url_for('Reparacion.reparacion_list') }}">REPARACIONES</a></li>
            
            <li><a href="{{ url_for('logout') }}">Cerrar sesion</a></li>
        </ul>
    </nav>
    <section class="contenido">
      
      {% block body %}
      
      {% endblock %}
      
    </section>

    
</body>
</html>